#jeu {
  display: inline-block;
}

#rightPart {
  width: 20%;
  width: 600px;
  height: 600px;
  display: inline-block;
  background: #000;
  vertical-align: top;
  margin-top: 100px;
  margin-bottom: 150px;
}

#body{
  display: inline-block;
}

.btn {
  margin : 50px;
  width: 500px;
  border: 2px solid white;
  background-color: black;;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */

.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: black;;
}

/* Orange */

.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: black;;
}

/* Red */

.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: black;;
}

/* Gray */

.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: black;;
}

body {
  background-image: url("ressources/wall.png");
  background-size: 30px;
  overflow: hidden;
}
