@font-face {
  font-family: "8bit";
  src: url("ressources/8-BIT WONDER.TTF");
}

#jeu {
  display: inline-block;
}

#rightPart {
  text-align: center;
  width: 20%;
  width: 600px;
  height: 600px;
  display: inline-block;
  background: #000;
  vertical-align: top;
  margin-top: 90px;
  margin-bottom: 150px;
}

#body {
  display: inline-block;
}

#affScore {
  margin-left: 50px;
  float: left;
}

#titre {
  font-size: 50px;
  text-align: center;
}

.texte {
  color: white;
  font-family: "8bit";
}

.btn {
  margin: 50px;
  width: 500px;
  border: 2px solid white;
  background-color: black;
  ;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */

.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
  ;
}

/* Blue */

.info {
  border-color: #2196F3;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: black;
  ;
}

/* Orange */

.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: black;
  ;
}

/* Red */

.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: black;
  ;
}

/* Gray */

.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: black;
  ;
}

body {
  background-image: url("ressources/wall.png");
  background-size: 30px;
  overflow: hidden;
}